@charset "utf-8";
/* CSS Document */
header h1{
	position: relative;
	width:50%;
	left:20px;
}
body{
	background-image:url("../images/cropped-EXkyP-GWoAIHUxE.jpg");
	background-repeat: no-repeat;
}
header img{
	float:right;
	display:inline-block;
	width:100px;
	height:100px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	position: relative;
	top:-50px;
}
